* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.heading-font{
    font-family: 'Tagesschrift';
}

.font{
    font-family: "Comic Relief";
}

.nav,
.font-type {
    /* font-family: 'Inter', ; */
    font-family: Arial, Helvetica, sans-serif;
}

.text {
    font-family: 'Parkinsans';
}


.swiper-slide {
    text-align: center;
  
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
   
    object-fit: cover;
}

/* 
#work {
    animation: move;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
        
    }
} */